<!doctype html>
<html ng-app="OffersApp">
<head>
  <meta charset="utf-8">
  <title>Настройки FL Helper</title>
  <link rel="stylesheet" href="../../assets/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../assets/css/options.css">
</head>
<body>
<div class="page-name">FL Helper</div>
<div class="tabs-menu">
  <ul>
    <li><a href="#tab1">Готовые предложения</a></li>
    <li><a href="#tab2">Настройки</a></li>
    <li><a href="#tab3">Предложить идею</a></li>
  </ul>
</div>
<div class="tabs-content">
  <div id="tab1" class="item" ng-controller="TodoCtrl">
    <div class="name">Готовые предложения</div>
    <button type="button" class="btn btn-success btn-xs offers-add" data-toggle="modal" data-target="#modal"
            style="margin-bottom: 20px;">добавить
    </button>
    <table class="table table-hover table-bordered offers-table">
      <tr>
        <th>#</th>
        <th>Название</th>
        <th>Действия</th>
      </tr>
      <tr ng-repeat="todo in todos track by $index">
        <td>{{$index+1}}</td>
        <td>{{todo.title}}</td>
        <td>
          <button type="button" ng-click="editTodo(todo)" class="btn btn-primary btn-xs offers-edit" data-toggle="modal"
                  data-target="#modal">
            изменить
          </button>
          <button type="button" class="btn btn-danger btn-xs offers-del" ng-click="removeTodo(todo)">
            удалить
          </button>
        </td>
      </tr>
    </table>

    <form class="modal-form" role="form" ng-submit="addTodo()">
      <!-- Modal -->
      <div class="modal" id="modal" role="dialog" aria-labelledby="myMoLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="myMoLabel">Modal title</h4>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label for="modal_name">Название предложения</label>
                <input type="text" class="form-control" id="modal_name" required="required" ng-model="newOffersTitle">
              </div>
              <div class="form-group">
                <label for="modal_text">Текст предложения</label>
                <textarea id="modal_text" class="form-control" cols="30" rows="10" required
                          ng-model="newOffersText"></textarea>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
              <button type="submit" class="btn btn-primary modal-offers-add" data-type="add">Сохранить</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->
    </form>

  </div>
  <div id="tab2" class="item">
    <div class="name">Настройки</div>
    <br/> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, consequatur explicabo repellat sed
    tempora temporibus! Accusantium at beatae consequatur harum ipsa ipsum maiores nisi nostrum repellat sapiente sunt
    velit, vero?
    <br/> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, consequatur explicabo repellat sed
    tempora temporibus! Accusantium at beatae consequatur harum ipsa ipsum maiores nisi nostrum repellat sapiente sunt
    velit, vero?
    <br/> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, consequatur explicabo repellat sed
    tempora temporibus! Accusantium at beatae consequatur harum ipsa ipsum maiores nisi nostrum repellat sapiente sunt
    velit, vero?
  </div>
  <div id="tab3" class="item">
    <div class="name">Предложить идею</div>
    dsa
  </div>
</div>
<script src="../../assets/bower_components/jquery/jquery.min.js"></script>
<script src="../../assets/bower_components/angular/angular.min.js"></script>
<script src="../../assets/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../../assets/bower_components/jquery-easing/jquery.easing.min.js"></script>
<script src="../../assets/js/options.js"></script>
<script src="../../assets/js/app.js"></script>
</body>
</html>
